<body>
    <div class="container">

        <p >
            1. The game is played on a grid that's 3 squares by 3 squares.<br><br>

            2. Player 1 is "X" and Player 2 is "O".<br><br>

            3. Players take turns putting their marks in empty squares.<br><br>

            4. Any player to get 3 of same (up, down, across, or diagonally) is the winner.<br><br>

            5. When all 9 squares are full, the game is over.
          </p>
          <button id="start" routerLink="/game">Start Now...!!!!</button>
     </div>
     
  
</body>

                 